
body {
  padding: 25px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.dark-mode {
  background-color: rgb(0, 0, 0);
  color: white;
}


    .mode {
border: 2px solid rgb(7, 7, 7);
background-color: white;
color: rgb(7, 7, 7);
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}
    /* Red */
.mode {
border-color: #f44336;
color: red;
}

.mode:hover {
background: #f44336;
color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: rgb(184, 159, 22);
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #7a151b;
    color: #5a060b;
}

.calculator button.btn-number {
    background-color: #154f6e;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #180117;
  }
  
  .calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
  }

 
